In [108]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

resto = pd.read_csv("/Users/shubhamsingh/Desktop/Zycus/RestoInfo.csv")
resto.head(10)

,Unnamed: 0,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,46019,Unique Brew Cafe Resto,No,No,NaN,0,Indiranagar,Quick Bites,NaN,Fast Food,200,[],[],Dine-out,Old Airport Road
1,28849,Jayanthi Sagar,No,No,3.1 /5,21,Koramangala 5th Block,Quick Bites,NaN,"South Indian, North Indian, Chinese",200,"[('Rated 2.0', ""RATEDn Works only because it'...",[],Dine-out,Koramangala 4th Block
2,19855,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,BTM,Dessert Parlor,"Icecream Cake, Brownie, Waffles, Chocolate Ice...",Ice Cream,230,"[('Rated 4.0', ""RATEDn Ice creams are really ...","['Midnight Indulgence Cake', 'Butterscotch Mel...",Delivery,Jayanagar
3,35188,Punjabi by Nature 2.0,No,No,4.2 /5,3236,BTM,"Casual Dining, Microbrewery","Paneer Tikki, Mutton Raan, Mango Margarita, Cr...",North Indian,NaN,"[('Rated 3.0', ""RATEDn It has a beautiful amb...",[],Delivery,Koramangala 7th Block
4,7070,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Marathahalli,Casual Dining,"Bamboo Chicken, Butter Naan, Mutton Biryani, P...","North Indian, Biryani, Andhra, Chinese",800,"[('Rated 5.0', 'RATEDn Had Good experience wi...",[],Delivery,Brookefield
5,32050,Bistro Oui,Yes,Yes,4.1 /5,402,Koramangala 5th Block,"Cafe, Bar","Veg Burger, Pork Ribs, Pizza, Chicken Sandwich...","Cafe, Continental, Salad, Steak","1,200","[('Rated 4.0', 'RATEDn Funny & TastynnWe visi...",[],Pubs and bars,Koramangala 5th Block
6,9918,Bhavani Upahara,Yes,No,3.3/5,9,Bannerghatta Road,Quick Bites,NaN,South Indian,250,"[('Rated 5.0', 'RATEDn best north Karnataka f...",[],Delivery,BTM
7,6134,Hotel Tom's Restaurant,Yes,Yes,4.4/5,712,Richmond Road,Casual Dining,"Appam, Sea Food, Fry Prawns, Dal Fry, Chicken ...","Mangalorean, Seafood, Chinese, North Indian","1,000","[('Rated 4.0', ""RATEDn Quite an old place to ...",[],Dine-out,Brigade Road
8,5350,Munchies,Yes,No,3.9/5,64,Brigade Road,"Quick Bites, Bakery","Burgers, Sandwiches, Momos, Chicken Seekh Roll...","Fast Food, Bakery",250,"[('Rated 4.0', 'RATEDn I am glad i found this...","['Spicy Mixed Vegetable Club Sandwich', 'Chick...",Delivery,Brigade Road
9,2301,Vinaya Coffee Moments,Yes,No,3.8/5,46,JP Nagar,Cafe,"Filter Coffee, Pizza, Pasta","Burger, Cafe, Desserts, Sandwich, Italian",450,"[('Rated 3.0', ""RATEDn This is great place fo...",[],Dine-out,Bannerghatta Road

In [15]:
resto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2069 entries, 0 to 2068
Data columns (total 15 columns):
Unnamed: 0                     2069 non-null int64
name                           2069 non-null object
online_order                   2069 non-null object
book_table                     2069 non-null object
rate                           1770 non-null object
votes                          2069 non-null int64
location                       2069 non-null object
rest_type                      2052 non-null object
dish_liked                     962 non-null object
cuisines                       2069 non-null object
approx_cost(for two people)    2053 non-null object
reviews_list                   2069 non-null object
menu_item                      2069 non-null object
listed_in(type)                2069 non-null object
listed_in(city)                2069 non-null object
dtypes: int64(2), object(13)
memory usage: 242.6+ KB

In [100]:
resto.describe()

         Unnamed: 0        votes
count   2069.000000  2069.000000
mean   25840.654422   276.048333
std    14877.311956   673.916908
min       27.000000     0.000000
25%    12561.000000     7.000000
50%    26193.000000    43.000000
75%    38902.000000   210.000000
max    51643.000000  7854.000000

In [98]:
resto.isnull().sum()

Unnamed: 0                        0
name                              0
online_order                      0
book_table                        0
rate                            299
votes                             0
location                          0
rest_type                        17
dish_liked                     1107
cuisines                          0
approx_cost(for two people)      16
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [136]:
resto.columns
resto['listed_in(type)'].value_counts()

Delivery              1048
Dine-out               737
Desserts               122
Cafes                   60
Drinks & nightlife      46
Pubs and bars           28
Buffet                  28
Name: listed_in(type), dtype: int64

In [121]:
resto['location'].value_counts()

BTM                      227
HSR                       99
JP Nagar                  99
Koramangala 5th Block     98
Marathahalli              91
                        ...
North Bangalore            1
KR Puram                   1
Koramangala                1
Langford Town              1
Nagarbhavi                 1
Name: location, Length: 82, dtype: int64

In [127]:
X = resto[['name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)' , 'listed_in(city)']]

In [128]:
del X['location']

In [129]:
X.head(10)

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Unique Brew Cafe Resto,No,No,NaN,0,Quick Bites,Fast Food,200,Dine-out,Old Airport Road
1,Jayanthi Sagar,No,No,3.1 /5,21,Quick Bites,"South Indian, North Indian, Chinese",200,Dine-out,Koramangala 4th Block
2,Rock Stone Ice Cream Factory,Yes,No,4.0/5,131,Dessert Parlor,Ice Cream,230,Delivery,Jayanagar
3,Punjabi by Nature 2.0,No,No,4.2 /5,3236,"Casual Dining, Microbrewery",North Indian,NaN,Delivery,Koramangala 7th Block
4,Rayalaseema Chefs,Yes,Yes,3.9/5,225,Casual Dining,"North Indian, Biryani, Andhra, Chinese",800,Delivery,Brookefield
5,Bistro Oui,Yes,Yes,4.1 /5,402,"Cafe, Bar","Cafe, Continental, Salad, Steak","1,200",Pubs and bars,Koramangala 5th Block
6,Bhavani Upahara,Yes,No,3.3/5,9,Quick Bites,South Indian,250,Delivery,BTM
7,Hotel Tom's Restaurant,Yes,Yes,4.4/5,712,Casual Dining,"Mangalorean, Seafood, Chinese, North Indian","1,000",Dine-out,Brigade Road
8,Munchies,Yes,No,3.9/5,64,"Quick Bites, Bakery","Fast Food, Bakery",250,Delivery,Brigade Road
9,Vinaya Coffee Moments,Yes,No,3.8/5,46,Cafe,"Burger, Cafe, Desserts, Sandwich, Italian",450,Dine-out,Bannerghatta Road

In [130]:
# Removing '/5' from rate column
X['rate'] = X['rate'].apply(lambda x: str(x).split('/')[0])

In [131]:
X

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Unique Brew Cafe Resto,No,No,nan,0,Quick Bites,Fast Food,200,Dine-out,Old Airport Road
1,Jayanthi Sagar,No,No,3.1,21,Quick Bites,"South Indian, North Indian, Chinese",200,Dine-out,Koramangala 4th Block
2,Rock Stone Ice Cream Factory,Yes,No,4.0,131,Dessert Parlor,Ice Cream,230,Delivery,Jayanagar
3,Punjabi by Nature 2.0,No,No,4.2,3236,"Casual Dining, Microbrewery",North Indian,NaN,Delivery,Koramangala 7th Block
4,Rayalaseema Chefs,Yes,Yes,3.9,225,Casual Dining,"North Indian, Biryani, Andhra, Chinese",800,Delivery,Brookefield
...,...,...,...,...,...,...,...,...,...,...
2064,Zeeshan,Yes,No,3.8,214,Casual Dining,"North Indian, Kebab, Biryani, Rolls",700,Delivery,BTM
2065,Zaica Dine & Wine,Yes,Yes,4.0,1013,Casual Dining,North Indian,"1,200",Delivery,Indiranagar
2066,Murphy's Brewhouse - The Paul Bangalore,No,Yes,4.3,2039,"Pub, Microbrewery","Continental, North Indian, Finger Food","1,700",Pubs and bars,Old Airport Road
2067,Cee Yem,No,No,nan,0,Quick Bites,"South Indian, Kerala, North Indian",300,Dine-out,BTM
2068,Cauvery Fast Food,No,No,3.2,4,Quick Bites,Chinese,150,Dine-out,Koramangala 4th Block

X.isnull().sum()

In [134]:
type(X['rate'])

pandas.core.series.Series

In [138]:
X['listed_in(city)'].value_counts()

BTM                      154
Koramangala 6th Block    124
Koramangala 5th Block    122
Koramangala 7th Block    108
Koramangala 4th Block    106
Jayanagar                 91
Indiranagar               82
JP Nagar                  81
MG Road                   76
Brookefield               74
Marathahalli              74
Bannerghatta Road         68
Lavelle Road              67
Brigade Road              67
Whitefield                64
HSR                       62
Malleshwaram              61
Church Street             59
Residency Road            58
Old Airport Road          54
Frazer Town               49
Basavanagudi              48
Kammanahalli              48
Bellandur                 47
Kalyan Nagar              46
Sarjapur Road             41
Rajajinagar               40
Electronic City           37
New BEL Road              31
Banashankari              30
Name: listed_in(city), dtype: int64

In [142]:
X['rate'].unique()

TypeError: Could not convert nan3.1 4.04.2 3.94.1 3.34.43.93.83.3nan3.13.53.8 2.94.1 nan3.94.13.8 nan4.4nan4.13.7nan3.5 nan3.4 3.7 4.5nan4.3 3.62.8 3.63.84.03.83.33.4 3.54.4nan4.3 3.24.0 2.9 nan3.1 4.0 3.0 3.4 4.4nan3.94.4 nan3.2 nan4.1 4.6 3.63.63.93.4 4.1 nan3.53.73.7 3.9NEW3.94.03.8 2.9 3.93.82.8 3.62.8 4.03.7 3.8nannan3.12.9 3.9 3.2 4.0 3.7 3.0nan4.8 nannan3.6 3.6nan3.3 3.7nan4.13.8 NEW4.0 3.84.03.5nan4.0 3.6 2.94.5 4.42.83.6 3.8 4.4 4.14.3 3.83.73.7nannanNEW2.9 3.43.5 3.0 3.8 3.93.53.13.0 nan3.8nan3.14.03.83.43.73.4 3.04.4 4.14.44.0nannan3.33.8 2.9 4.2nan3.0nannannan4.13.93.6 3.82.13.6nan4.2 3.8 3.9 nanNEW3.5NEW3.2 3.5 3.6nan4.4 3.6 4.2 nan4.1 3.64.0 nan3.84.14.4 3.73.1 4.0 3.73.7 3.44.3 3.34.4nan4.13.73.43.6nan4.1 3.63.8 4.2 nanNEW4.13.1 4.4 3.1 NEWNEW3.9nan3.9NEWnan3.03.8 4.04.04.9 3.0 4.0 3.9 3.8 4.04.33.9 4.2 4.0 NEW4.04.1NEW3.74.14.23.53.3 3.9 3.9 3.9 nan3.1 nan4.34.2 nan3.7 4.1nan3.33.0 3.23.44.34.33.93.6 nan4.03.5NEW3.93.43.7 4.1 3.4 3.63.1 nan3.4 3.93.7 4.13.7 4.2 2.84.33.8 4.0NEWnan3.73.53.74.33.64.0 4.3 nanNEW3.5nan3.83.34.0 3.8 3.5 3.94.13.83.43.93.83.84.4 3.2 3.73.8 3.6 4.13.33.5 3.33.74.4 3.63.7 2.7nan3.5 3.74.0 3.7 4.23.7 4.2 NEW3.53.6 3.5 4.14.04.0 4.33.83.8nan3.8 3.7 nan3.73.53.64.02.84.1 3.73.9 3.5 4.1NEW4.24.0 nan3.7 4.3 4.04.0 3.7 3.5 3.64.0 4.4 3.9NEW3.24.24.1 4.3nan3.3 4.14.1nannan3.5 4.23.64.1 3.9 4.0 nannan3.92.84.1 3.5nannan3.8 3.54.5 3.6 3.2nan3.9NEW3.53.33.93.0 4.33.9 3.8 3.5nan3.4nan3.5nan3.7 4.13.83.2 2.83.53.3nannan3.44.0 nan3.5 3.93.73.8 4.03.2 4.2 4.33.74.02.83.33.43.33.7 3.83.73.3 3.7nan4.14.2 4.0 4.03.6NEW3.7 4.2 3.2 3.8 3.5 3.3 3.8nannanNEW3.4 3.8 3.8 4.13.2 3.8 4.03.7 3.03.2 4.4NEW3.33.24.03.7nan4.1 2.6nan4.1 4.1nan3.63.8 2.8 nan2.94.03.0 3.7 4.3 nan3.93.5 4.2 4.0 nan3.6 3.5 3.7 3.8 3.4 4.2 3.64.54.1 3.7 3.9 3.7 4.5 3.64.0 nan3.7nan4.03.94.14.2 nan3.4 3.3nannan2.7 3.2 nan3.43.7 nan4.0 3.4 nan3.7 2.7NEW4.3nan4.3 3.7 3.54.3nan3.6 2.24.2 3.8 nan4.3 4.1 3.13.13.9 4.4 3.93.53.42.8 3.8 NEW3.8nan3.0 4.2 nan2.94.24.4 nan3.3 3.3 4.0 3.9nan4.2 3.2NEW3.5 3.1nannan4.1 nan3.84.6 nannan4.2 3.2 3.5 3.73.83.8 3.4 4.0 3.33.23.73.5 nan3.83.53.54.3 nan3.93.8 4.14.2 3.6 3.9 3.93.1 3.5 3.7 NEW4.24.5 3.7NEW4.0 nan3.2 4.14.14.33.4 4.0 4.1 3.53.83.6 3.9 2.74.34.03.84.1 3.93.5 3.6 3.93.54.1 3.6 3.23.23.7 nannan3.43.6 nan4.3 2.43.53.3 3.73.2nan3.0 4.04.0 3.93.53.93.4 3.7 nan4.03.1NEW3.23.63.63.74.13.7 3.6 4.32.94.2 3.8nan4.43.5 4.0 3.33.7 3.83.4 4.0 3.5NEW2.93.33.7 3.93.6 3.93.33.4 3.7 4.4 2.8 3.53.92.9 NEW4.0nan3.8 2.8 4.33.62.8 3.53.23.8 3.3 nan2.94.2 2.7 NEW3.4nan3.74.1nan4.4 2.7nan3.63.1 nan4.3 2.83.8 3.5 3.2 3.6 3.9 3.9 3.6 3.94.1NEWnan4.5 3.3 3.8 nanNEW3.33.6 3.5 3.34.1 nan4.23.93.7 3.9 3.83.63.94.4 3.7 3.54.0nan3.84.02.93.9 3.9 4.1 3.7 3.53.1 nan4.43.72.92.64.02.5 3.6 3.33.8 3.73.52.83.93.8 3.73.0nan3.2 nan4.4 3.4 3.73.5nan4.3 4.3nan3.4 3.32.8 3.44.2 3.93.84.4 nan4.13.63.43.03.7 2.1 3.7 3.33.9NEW3.0 nan3.03.12.8 3.5 3.43.3 4.1 nan3.9 nan4.1 3.7 3.83.8 3.0 nan3.9 3.3 4.43.53.74.3 3.7 4.23.6 nan4.1nan4.0 3.4 2.72.9 nan4.4 3.64.0 nan3.13.4nan3.3 3.8 3.43.4nan4.2 4.1nannanNEW3.23.43.9 4.12.63.93.0 3.6 4.03.7 4.3 nannan4.1 3.44.33.6 4.5 3.93.84.13.6 3.3 3.73.83.73.93.6 4.2 nan4.1 3.9NEW4.2 3.84.4 3.7nannan3.92.93.3 3.1 3.84.43.2 3.6 4.34.1 3.82.94.13.1 3.4 nan3.93.7nan4.0 2.83.3 3.8NEW4.0 2.24.0 nan4.2 3.43.33.63.33.63.8 2.83.63.8nannan3.54.0nanNEW4.3 3.3 3.4 3.8 3.73.64.5 NEW3.03.1 3.63.7 3.7 nan4.0 nan4.2 nannannan3.73.24.3 4.5 nan3.23.53.93.8 3.5 4.13.14.2 nan3.54.43.84.0 NEW3.1 3.8nan3.9nan3.9 3.8 NEWNEW3.63.5 4.23.9 nan1.8 4.0 4.0 nan4.1nan3.54.12.6 nan3.7 3.5nan3.84.5 nan3.3 3.22.9 NEWnan4.23.7 3.9 3.8 4.0 3.9 3.14.34.34.7 3.8 2.94.1 NEW4.1 4.2nan3.84.4 3.8 3.73.84.0 nan2.8NEW4.43.7 nan3.44.0 4.1 nanNEW3.72.9 nan3.14.4 3.3 3.34.03.83.6 NEW4.44.6 4.33.3 3.8 4.0 NEW4.13.9 3.83.73.34.2 4.2 2.6NEW3.53.1 2.8 nan4.14.03.13.43.53.4 4.3 3.7NEWNEWnan3.9 nan4.33.9 4.13.84.32.63.63.4 4.2nan4.0 nan3.7 3.6 3.63.64.4 3.5 4.43.5 4.5NEWnan3.6 3.93.1 NEW4.43.4nan3.9 3.8 3.7-4.13.4 3.74.0 3.54.2 4.43.5 nan3.9 3.2 4.03.5 3.4 4.43.7 4.0nan4.1nan2.8 3.93.8 4.0 2.8 3.7 3.5nan2.3NEWNEW4.13.7 3.72.83.33.0nannan3.64.23.83.13.04.2 3.1 3.33.7 NEWnan3.8 4.13.9 nan4.1nan3.7 3.5 3.7 3.73.83.52.83.93.23.2 4.03.13.9NEW4.2 4.4 4.42.84.2 2.83.1 3.72.8 4.0 3.83.62.93.84.2 4.5 3.6 nannanNEW3.7 NEW3.2 3.4 nan3.24.3 3.8 nan3.7 3.4 4.04.0 3.42.5 3.3 3.8 4.1 3.4 4.53.8 4.63.1 4.43.2 2.7 3.73.63.4nan2.9nan4.03.2nan4.0 3.8 4.2 3.52.8nan3.8 4.6nan3.4 3.0nanNEWnanNEW4.14.54.23.5 3.4 nannannan3.0 3.33.2 3.9 3.6nan4.2 4.02.9 nan3.4 3.4 nan3.83.83.7 4.03.6 4.23.7 4.5 4.13.2nan4.0 3.04.03.22.9 4.3 4.0 4.7 NEW4.0 3.24.03.9 4.13.3 3.7 nannan3.8nan3.14.03.6nan3.63.83.43.33.2 4.5 nannan4.13.6 4.2 3.0 nannan4.3 4.12.8 3.63.1 3.8 4.0 4.1nan4.24.1 3.72.6 3.23.3 2.83.9 nan3.93.13.8 nan3.14.3 nan4.33.6 3.9NEW3.23.6 nan3.6 nan4.14.0 4.3 3.3 3.3NEWNEW3.2 3.5 3.6 3.5 2.93.93.93.4 4.23.83.4 3.64.0 4.1 3.64.2 3.72.7 3.7 3.3 3.1nan2.83.9 4.3 nan3.33.7NEW3.7nan3.0 4.4nan3.44.13.63.14.04.1 nan3.6 4.42.9 3.8 4.03.63.63.73.83.6 nan3.5NEW4.1 nannannannan4.3 3.2 3.33.4 3.9 4.1 nan3.0nanNEW3.2 3.4 4.1 4.0nan3.7 3.3 3.3nan4.0 nan3.1 3.2 3.83.2 3.94.33.4 3.7 3.8 3.2 3.93.2 nan4.43.33.6 3.3 nan3.6 nan3.9nan4.0 3.83.9 nan3.8NEW4.14.2 3.53.8NEWNEW3.9 3.63.7 4.5 3.93.2 3.5 3.3 3.8 3.1 3.32.33.33.7 NEW2.6 3.43.1nan3.6 3.8 4.03.8nan3.2nanNEW3.8 3.63.7 3.63.64.03.5 3.8 3.6 3.64.1 4.1nan3.33.1nan3.13.6 4.0 3.43.73.93.3nan3.6 4.3 3.2 3.83.74.23.3 3.9 3.83.63.6 3.8 4.1 3.8 4.0nan3.63.9 nan2.74.4 3.2 3.8 3.7 nan2.6 nan4.1 3.7 3.6 3.5nannan3.3 3.03.9 3.6 3.63.2 nan3.9 3.5 4.3 3.2 nan3.6 3.22.9 3.6 3.8 nan3.2 3.84.1NEW4.2 nan3.3 3.73.6nannan4.3 3.63.1 3.9 4.14.1 4.2 3.94.14.0 3.44.5NEW3.9 3.43.3 4.1 3.5 4.0 nan4.2 2.6 NEW3.5 3.52.9 3.83.6 3.73.44.6 3.6 3.83.54.3 3.53.13.7 NEWnan4.34.43.9 3.7 4.1 3.7 3.5 3.8NEW3.0 nan3.5 3.0 4.2 3.2 3.33.23.83.53.7 4.53.72.9 3.73.6 3.1 3.2 NEWnan3.63.53.4nan4.13.4nan3.3 4.43.4 nan4.1 3.4 3.74.3 3.43.3 3.5nan3.5 3.9 4.03.7 4.43.73.34.1 2.8 3.8 3.94.53.3nan3.3 NEW3.74.3 3.93.9 nan3.1 NEW2.73.7 3.34.3 4.0 3.2nan4.2 4.33.4 NEW3.8nannan3.64.3 3.2 nan3.5 3.6 NEW2.83.1 2.93.73.6 NEW3.9 3.53.0 3.8 4.33.44.0 3.9 3.9nan3.63.6 4.2 nannan3.8 3.0 2.94.33.63.7 3.94.5 3.4 nan4.22.8 4.2nan4.1 3.03.04.64.33.3 4.2 3.6 NEW3.73.04.4 4.13.64.2 4.13.34.24.1NEW3.7 3.8 4.1 3.9 4.2 4.1 4.0 nan3.6 4.03.5 4.2 3.93.34.03.7nan3.33.6 3.93.5 3.63.43.4 3.53.34.03.7 3.64.3 3.32.83.73.82.94.23.24.0nan3.83.9nan4.53.93.8 3.34.2 4.23.4 3.9 3.13.8 3.5 nan3.03.3 nan3.7 4.0 3.6 3.0 3.6 NEW3.5 4.0nan3.33.72.8 3.43.1 NEW4.0 4.4 3.83.9 nan2.83.4 3.8 3.7 4.24.0 3.84.63.13.7 4.0 2.6 3.5 4.33.93.53.5 3.93.5nan3.1 4.24.1 3.8 3.2 3.3 3.93.44.23.74.32.9 3.8 3.8 3.7 4.1 4.04.32.5 4.3 3.83.13.9 NEWnan3.5 3.7 2.9 4.24.43.9nan3.9 4.13.4nan3.6 3.9 3.9nan3.2 4.1 3.2 4.5 3.5 3.7 3.1 3.0 4.3 nan3.94.3 3.73.9 4.0 nan3.9 2.84.0 3.54.03.53.43.1NEW3.13.9 4.3 3.9 3.83.44.2nan4.14.2 3.83.14.23.7 3.63.03.53.43.63.63.0 4.2 3.82.2 4.23.5 3.24.1 4.1 2.94.1 3.84.2 3.84.0 3.8 4.33.8 nan3.8 nan3.7nannan3.3nan3.8 3.6 2.93.8 3.4 4.1nan4.0 4.43.9 4.1 4.4 3.1 3.6 nan3.93.14.33.54.4 2.93.14.13.3nan3.8nan3.9 nan3.84.1 4.1 3.84.04.3 nan3.2  to numeric

In [148]:
a = list(X['rate'])
for i in range(0, len(a)):
    if a[i] == 'nan':
        a[i] = '2.5'
    elif a[i] == '-':
        a[i] = '2.5'
    elif a[i] == 'NEW':
        a[i] = '2.5'

In [149]:
a

['2.5',
 '3.1 ',
 '4.0',
 '4.2 ',
 '3.9',
 '4.1 ',
 '3.3',
 '4.4',
 '3.9',
 '3.8',
 '3.3',
 '2.5',
 '3.1',
 '3.5',
 '3.8 ',
 '2.9',
 '4.1 ',
 '2.5',
 '3.9',
 '4.1',
 '3.8 ',
 '2.5',
 '4.4',
 '2.5',
 '4.1',
 '3.7',
 '2.5',
 '3.5 ',
 '2.5',
 '3.4 ',
 '3.7 ',
 '4.5',
 '2.5',
 '4.3 ',
 '3.6',
 '2.8 ',
 '3.6',
 '3.8',
 '4.0',
 '3.8',
 '3.3',
 '3.4 ',
 '3.5',
 '4.4',
 '2.5',
 '4.3 ',
 '3.2',
 '4.0 ',
 '2.9 ',
 '2.5',
 '3.1 ',
 '4.0 ',
 '3.0 ',
 '3.4 ',
 '4.4',
 '2.5',
 '3.9',
 '4.4 ',
 '2.5',
 '3.2 ',
 '2.5',
 '4.1 ',
 '4.6 ',
 '3.6',
 '3.6',
 '3.9',
 '3.4 ',
 '4.1 ',
 '2.5',
 '3.5',
 '3.7',
 '3.7 ',
 '3.9',
 '2.5',
 '3.9',
 '4.0',
 '3.8 ',
 '2.9 ',
 '3.9',
 '3.8',
 '2.8 ',
 '3.6',
 '2.8 ',
 '4.0',
 '3.7 ',
 '3.8',
 '2.5',
 '2.5',
 '3.1',
 '2.9 ',
 '3.9 ',
 '3.2 ',
 '4.0 ',
 '3.7 ',
 '3.0',
 '2.5',
 '4.8 ',
 '2.5',
 '2.5',
 '3.6 ',
 '3.6',
 '2.5',
 '3.3 ',
 '3.7',
 '2.5',
 '4.1',
 '3.8 ',
 '2.5',
 '4.0 ',
 '3.8',
 '4.0',
 '3.5',
 '2.5',
 '4.0 ',
 '3.6 ',
 '2.9',
 '4.5 ',
 '4.4',
 '2.8',
 '3.6 ',
 '3.8 ',
 '4.4 ',
 '4.1',
 '4.3 ',
 '3.8',
 '3.7',
 '3.7',
 '2.5',
 '2.5',
 '2.5',
 '2.9 ',
 '3.4',
 '3.5 ',
 '3.0 ',
 '3.8 ',
 '3.9',
 '3.5',
 '3.1',
 '3.0 ',
 '2.5',
 '3.8',
 '2.5',
 '3.1',
 '4.0',
 '3.8',
 '3.4',
 '3.7',
 '3.4 ',
 '3.0',
 '4.4 ',
 '4.1',
 '4.4',
 '4.0',
 '2.5',
 '2.5',
 '3.3',
 '3.8 ',
 '2.9 ',
 '4.2',
 '2.5',
 '3.0',
 '2.5',
 '2.5',
 '2.5',
 '4.1',
 '3.9',
 '3.6 ',
 '3.8',
 '2.1',
 '3.6',
 '2.5',
 '4.2 ',
 '3.8 ',
 '3.9 ',
 '2.5',
 '2.5',
 '3.5',
 '2.5',
 '3.2 ',
 '3.5 ',
 '3.6',
 '2.5',
 '4.4 ',
 '3.6 ',
 '4.2 ',
 '2.5',
 '4.1 ',
 '3.6',
 '4.0 ',
 '2.5',
 '3.8',
 '4.1',
 '4.4 ',
 '3.7',
 '3.1 ',
 '4.0 ',
 '3.7',
 '3.7 ',
 '3.4',
 '4.3 ',
 '3.3',
 '4.4',
 '2.5',
 '4.1',
 '3.7',
 '3.4',
 '3.6',
 '2.5',
 '4.1 ',
 '3.6',
 '3.8 ',
 '4.2 ',
 '2.5',
 '2.5',
 '4.1',
 '3.1 ',
 '4.4 ',
 '3.1 ',
 '2.5',
 '2.5',
 '3.9',
 '2.5',
 '3.9',
 '2.5',
 '2.5',
 '3.0',
 '3.8 ',
 '4.0',
 '4.0',
 '4.9 ',
 '3.0 ',
 '4.0 ',
 '3.9 ',
 '3.8 ',
 '4.0',
 '4.3',
 '3.9 ',
 '4.2 ',
 '4.0 ',
 '2.5',
 '4.0',
 '4.1',
 '2.5',
 '3.7',
 '4.1',
 '4.2',
 '3.5',
 '3.3 ',
 '3.9 ',
 '3.9 ',
 '3.9 ',
 '2.5',
 '3.1 ',
 '2.5',
 '4.3',
 '4.2 ',
 '2.5',
 '3.7 ',
 '4.1',
 '2.5',
 '3.3',
 '3.0 ',
 '3.2',
 '3.4',
 '4.3',
 '4.3',
 '3.9',
 '3.6 ',
 '2.5',
 '4.0',
 '3.5',
 '2.5',
 '3.9',
 '3.4',
 '3.7 ',
 '4.1 ',
 '3.4 ',
 '3.6',
 '3.1 ',
 '2.5',
 '3.4 ',
 '3.9',
 '3.7 ',
 '4.1',
 '3.7 ',
 '4.2 ',
 '2.8',
 '4.3',
 '3.8 ',
 '4.0',
 '2.5',
 '2.5',
 '3.7',
 '3.5',
 '3.7',
 '4.3',
 '3.6',
 '4.0 ',
 '4.3 ',
 '2.5',
 '2.5',
 '3.5',
 '2.5',
 '3.8',
 '3.3',
 '4.0 ',
 '3.8 ',
 '3.5 ',
 '3.9',
 '4.1',
 '3.8',
 '3.4',
 '3.9',
 '3.8',
 '3.8',
 '4.4 ',
 '3.2 ',
 '3.7',
 '3.8 ',
 '3.6 ',
 '4.1',
 '3.3',
 '3.5 ',
 '3.3',
 '3.7',
 '4.4 ',
 '3.6',
 '3.7 ',
 '2.7',
 '2.5',
 '3.5 ',
 '3.7',
 '4.0 ',
 '3.7 ',
 '4.2',
 '3.7 ',
 '4.2 ',
 '2.5',
 '3.5',
 '3.6 ',
 '3.5 ',
 '4.1',
 '4.0',
 '4.0 ',
 '4.3',
 '3.8',
 '3.8',
 '2.5',
 '3.8 ',
 '3.7 ',
 '2.5',
 '3.7',
 '3.5',
 '3.6',
 '4.0',
 '2.8',
 '4.1 ',
 '3.7',
 '3.9 ',
 '3.5 ',
 '4.1',
 '2.5',
 '4.2',
 '4.0 ',
 '2.5',
 '3.7 ',
 '4.3 ',
 '4.0',
 '4.0 ',
 '3.7 ',
 '3.5 ',
 '3.6',
 '4.0 ',
 '4.4 ',
 '3.9',
 '2.5',
 '3.2',
 '4.2',
 '4.1 ',
 '4.3',
 '2.5',
 '3.3 ',
 '4.1',
 '4.1',
 '2.5',
 '2.5',
 '3.5 ',
 '4.2',
 '3.6',
 '4.1 ',
 '3.9 ',
 '4.0 ',
 '2.5',
 '2.5',
 '3.9',
 '2.8',
 '4.1 ',
 '3.5',
 '2.5',
 '2.5',
 '3.8 ',
 '3.5',
 '4.5 ',
 '3.6 ',
 '3.2',
 '2.5',
 '3.9',
 '2.5',
 '3.5',
 '3.3',
 '3.9',
 '3.0 ',
 '4.3',
 '3.9 ',
 '3.8 ',
 '3.5',
 '2.5',
 '3.4',
 '2.5',
 '3.5',
 '2.5',
 '3.7 ',
 '4.1',
 '3.8',
 '3.2 ',
 '2.8',
 '3.5',
 '3.3',
 '2.5',
 '2.5',
 '3.4',
 '4.0 ',
 '2.5',
 '3.5 ',
 '3.9',
 '3.7',
 '3.8 ',
 '4.0',
 '3.2 ',
 '4.2 ',
 '4.3',
 '3.7',
 '4.0',
 '2.8',
 '3.3',
 '3.4',
 '3.3',
 '3.7 ',
 '3.8',
 '3.7',
 '3.3 ',
 '3.7',
 '2.5',
 '4.1',
 '4.2 ',
 '4.0 ',
 '4.0',
 '3.6',
 '2.5',
 '3.7 ',
 '4.2 ',
 '3.2 ',
 '3.8 ',
 '3.5 ',
 '3.3 ',
 '3.8',
 '2.5',
 '2.5',
 '2.5',
 '3.4 ',
 '3.8 ',
 '3.8 ',
 '4.1',
 '3.2 ',
 '3.8 ',
 '4.0',
 '3.7 ',
 '3.0',
 '3.2 ',
 '4.4',
 '2.5',
 '3.3',
 '3.2',
 '4.0',
 '3.7',
 '2.5',
 '4.1 ',
 '2.6',
 '2.5',
 '4.1 ',
 '4.1',
 '2.5',
 '3.6',
 '3.8 ',
 '2.8 ',
 '2.5',
 '2.9',
 '4.0',
 '3.0 ',
 '3.7 ',
 '4.3 ',
 '2.5',
 '3.9',
 '3.5 ',
 '4.2 ',
 '4.0 ',
 '2.5',
 '3.6 ',
 '3.5 ',
 '3.7 ',
 '3.8 ',
 '3.4 ',
 '4.2 ',
 '3.6',
 '4.5',
 '4.1 ',
 '3.7 ',
 '3.9 ',
 '3.7 ',
 '4.5 ',
 '3.6',
 '4.0 ',
 '2.5',
 '3.7',
 '2.5',
 '4.0',
 '3.9',
 '4.1',
 '4.2 ',
 '2.5',
 '3.4 ',
 '3.3',
 '2.5',
 '2.5',
 '2.7 ',
 '3.2 ',
 '2.5',
 '3.4',
 '3.7 ',
 '2.5',
 '4.0 ',
 '3.4 ',
 '2.5',
 '3.7 ',
 '2.7',
 '2.5',
 '4.3',
 '2.5',
 '4.3 ',
 '3.7 ',
 '3.5',
 '4.3',
 '2.5',
 '3.6 ',
 '2.2',
 '4.2 ',
 '3.8 ',
 '2.5',
 '4.3 ',
 '4.1 ',
 '3.1',
 '3.1',
 '3.9 ',
 '4.4 ',
 '3.9',
 '3.5',
 '3.4',
 '2.8 ',
 '3.8 ',
 '2.5',
 '3.8',
 '2.5',
 '3.0 ',
 '4.2 ',
 '2.5',
 '2.9',
 '4.2',
 '4.4 ',
 '2.5',
 '3.3 ',
 '3.3 ',
 '4.0 ',
 '3.9',
 '2.5',
 '4.2 ',
 '3.2',
 '2.5',
 '3.5 ',
 '3.1',
 '2.5',
 '2.5',
 '4.1 ',
 '2.5',
 '3.8',
 '4.6 ',
 '2.5',
 '2.5',
 '4.2 ',
 '3.2 ',
 '3.5 ',
 '3.7',
 '3.8',
 '3.8 ',
 '3.4 ',
 '4.0 ',
 '3.3',
 '3.2',
 '3.7',
 '3.5 ',
 '2.5',
 '3.8',
 '3.5',
 '3.5',
 '4.3 ',
 '2.5',
 '3.9',
 '3.8 ',
 '4.1',
 '4.2 ',
 '3.6 ',
 '3.9 ',
 '3.9',
 '3.1 ',
 '3.5 ',
 '3.7 ',
 '2.5',
 '4.2',
 '4.5 ',
 '3.7',
 '2.5',
 '4.0 ',
 '2.5',
 '3.2 ',
 '4.1',
 '4.1',
 '4.3',
 '3.4 ',
 '4.0 ',
 '4.1 ',
 '3.5',
 '3.8',
 '3.6 ',
 '3.9 ',
 '2.7',
 '4.3',
 '4.0',
 '3.8',
 '4.1 ',
 '3.9',
 '3.5 ',
 '3.6 ',
 '3.9',
 '3.5',
 '4.1 ',
 '3.6 ',
 '3.2',
 '3.2',
 '3.7 ',
 '2.5',
 '2.5',
 '3.4',
 '3.6 ',
 '2.5',
 '4.3 ',
 '2.4',
 '3.5',
 '3.3 ',
 '3.7',
 '3.2',
 '2.5',
 '3.0 ',
 '4.0',
 '4.0 ',
 '3.9',
 '3.5',
 '3.9',
 '3.4 ',
 '3.7 ',
 '2.5',
 '4.0',
 '3.1',
 '2.5',
 '3.2',
 '3.6',
 '3.6',
 '3.7',
 '4.1',
 '3.7 ',
 '3.6 ',
 '4.3',
 '2.9',
 '4.2 ',
 '3.8',
 '2.5',
 '4.4',
 '3.5 ',
 '4.0 ',
 '3.3',
 '3.7 ',
 '3.8',
 '3.4 ',
 '4.0 ',
 '3.5',
 '2.5',
 '2.9',
 '3.3',
 '3.7 ',
 '3.9',
 '3.6 ',
 '3.9',
 '3.3',
 '3.4 ',
 '3.7 ',
 '4.4 ',
 '2.8 ',
 '3.5',
 '3.9',
 '2.9 ',
 '2.5',
 '4.0',
 '2.5',
 '3.8 ',
 '2.8 ',
 '4.3',
 '3.6',
 '2.8 ',
 '3.5',
 '3.2',
 '3.8 ',
 '3.3 ',
 '2.5',
 '2.9',
 '4.2 ',
 '2.7 ',
 '2.5',
 '3.4',
 '2.5',
 '3.7',
 '4.1',
 '2.5',
 '4.4 ',
 '2.7',
 '2.5',
 '3.6',
 '3.1 ',
 '2.5',
 '4.3 ',
 '2.8',
 '3.8 ',
 '3.5 ',
 '3.2 ',
 '3.6 ',
 '3.9 ',
 '3.9 ',
 '3.6 ',
 '3.9',
 '4.1',
 '2.5',
 '2.5',
 '4.5 ',
 '3.3 ',
 '3.8 ',
 '2.5',
 '2.5',
 '3.3',
 '3.6 ',
 '3.5 ',
 '3.3',
 '4.1 ',
 '2.5',
 '4.2',
 '3.9',
 '3.7 ',
 '3.9 ',
 '3.8',
 '3.6',
 '3.9',
 '4.4 ',
 '3.7 ',
 '3.5',
 '4.0',
 '2.5',
 '3.8',
 '4.0',
 '2.9',
 '3.9 ',
 '3.9 ',
 '4.1 ',
 '3.7 ',
 '3.5',
 '3.1 ',
 '2.5',
 '4.4',
 '3.7',
 '2.9',
 '2.6',
 '4.0',
 '2.5 ',
 '3.6 ',
 '3.3',
 '3.8 ',
 '3.7',
 '3.5',
 '2.8',
 '3.9',
 '3.8 ',
 '3.7',
 '3.0',
 '2.5',
 '3.2 ',
 '2.5',
 '4.4 ',
 '3.4 ',
 '3.7',
 '3.5',
 '2.5',
 '4.3 ',
 '4.3',
 '2.5',
 '3.4 ',
 '3.3',
 '2.8 ',
 '3.4',
 '4.2 ',
 '3.9',
 '3.8',
 '4.4 ',
 '2.5',
 '4.1',
 '3.6',
 '3.4',
 '3.0',
 '3.7 ',
 '2.1 ',
 '3.7 ',
 '3.3',
 '3.9',
 '2.5',
 '3.0 ',
 '2.5',
 '3.0',
 '3.1',
 '2.8 ',
 '3.5 ',
 '3.4',
 '3.3 ',
 '4.1 ',
 '2.5',
 '3.9 ',
 '2.5',
 '4.1 ',
 '3.7 ',
 '3.8',
 '3.8 ',
 '3.0 ',
 '2.5',
 '3.9 ',
 '3.3 ',
 '4.4',
 '3.5',
 '3.7',
 '4.3 ',
 '3.7 ',
 '4.2',
 '3.6 ',
 '2.5',
 '4.1',
 '2.5',
 '4.0 ',
 '3.4 ',
 '2.7',
 '2.9 ',
 '2.5',
 '4.4 ',
 '3.6',
 '4.0 ',
 '2.5',
 '3.1',
 '3.4',
 '2.5',
 '3.3 ',
 '3.8 ',
 '3.4',
 '3.4',
 '2.5',
 '4.2 ',
 '4.1',
 '2.5',
 '2.5',
 '2.5',
 '3.2',
 '3.4',
 '3.9 ',
 '4.1',
 '2.6',
 '3.9',
 '3.0 ',
 '3.6 ',
 '4.0',
 '3.7 ',
 '4.3 ',
 '2.5',
 '2.5',
 '4.1 ',
 '3.4',
 '4.3',
 '3.6 ',
 '4.5 ',
 '3.9',
 '3.8',
 '4.1',
 '3.6 ',
 '3.3 ',
 '3.7',
 '3.8',
 '3.7',
 '3.9',
 '3.6 ',
 '4.2 ',
 '2.5',
 '4.1 ',
 '3.9',
 '2.5',
 '4.2 ',
 '3.8',
 '4.4 ',
 '3.7',
 '2.5',
 '2.5',
 '3.9',
 '2.9',
 '3.3 ',
 '3.1 ',
 '3.8',
 '4.4',
 '3.2 ',
 '3.6 ',
 '4.3',
 '4.1 ',
 '3.8',
 '2.9',
 '4.1',
 '3.1 ',
 '3.4 ',
 '2.5',
 '3.9',
 '3.7',
 '2.5',
 '4.0 ',
 '2.8',
 '3.3 ',
 '3.8',
 '2.5',
 '4.0 ',
 '2.2',
 '4.0 ',
 '2.5',
 '4.2 ',
 '3.4',
 '3.3',
 '3.6',
 '3.3',
 '3.6',
 '3.8 ',
 '2.8',
 '3.6',
 '3.8',
 '2.5',
 '2.5',
 '3.5',
 '4.0',
 '2.5',
 '2.5',
 '4.3 ',
 '3.3 ',
 '3.4 ',
 '3.8 ',
 '3.7',
 '3.6',
 '4.5 ',
 '2.5',
 '3.0',
 '3.1 ',
 '3.6',
 '3.7 ',
 '3.7 ',
 '2.5',
 '4.0 ',
 '2.5',
 '4.2 ',
 '2.5',
 '2.5',
 '2.5',
 '3.7',
 '3.2',
 '4.3 ',
 '4.5 ',
 '2.5',
 '3.2',
 '3.5',
 ...]

In [147]:
sum(a)/len(a)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [150]:
type(a)

list

In [151]:
X['rate'] = a

In [167]:
X

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Unique Brew Cafe Resto,No,No,2.5,0,Quick Bites,Fast Food,200,Dine-out,Old Airport Road
1,Jayanthi Sagar,No,No,3.1,21,Quick Bites,"South Indian, North Indian, Chinese",200,Dine-out,Koramangala 4th Block
2,Rock Stone Ice Cream Factory,Yes,No,4.0,131,Dessert Parlor,Ice Cream,230,Delivery,Jayanagar
3,Punjabi by Nature 2.0,No,No,4.2,3236,"Casual Dining, Microbrewery",North Indian,NaN,Delivery,Koramangala 7th Block
4,Rayalaseema Chefs,Yes,Yes,3.9,225,Casual Dining,"North Indian, Biryani, Andhra, Chinese",800,Delivery,Brookefield
...,...,...,...,...,...,...,...,...,...,...
2064,Zeeshan,Yes,No,3.8,214,Casual Dining,"North Indian, Kebab, Biryani, Rolls",700,Delivery,BTM
2065,Zaica Dine & Wine,Yes,Yes,4.0,1013,Casual Dining,North Indian,"1,200",Delivery,Indiranagar
2066,Murphy's Brewhouse - The Paul Bangalore,No,Yes,4.3,2039,"Pub, Microbrewery","Continental, North Indian, Finger Food","1,700",Pubs and bars,Old Airport Road
2067,Cee Yem,No,No,2.5,0,Quick Bites,"South Indian, Kerala, North Indian",300,Dine-out,BTM
2068,Cauvery Fast Food,No,No,3.2,4,Quick Bites,Chinese,150,Dine-out,Koramangala 4th Block

In [168]:
rate = list(X['rate'])
for i in range(0, len(rate)):
    if rate[i] == 'nan' or rate[i] == '-' or rate[i] == 'NEW':
        rate[i] = 2.5
    else:
        rate[i] = float(rate[i])

X['rate'] = rate

In [170]:
X['rate'].value_counts()

2.5    392
3.8    162
3.7    154
3.9    140
3.6    134
4.0    129
4.1    124
3.5    113
3.3     92
3.4     91
4.2     86
4.3     75
3.2     71
3.1     63
4.4     56
3.0     42
2.8     40
2.9     38
4.5     24
2.6     11
2.7     11
4.6      8
2.2      3
2.1      2
2.3      2
4.7      2
1.8      1
4.9      1
2.4      1
4.8      1
Name: rate, dtype: int64

In [173]:
X['rest_type'].value_counts().tail(10)

Quick Bites, Food Court          1
Confectionery                    1
Pub, Cafe                        1
Quick Bites, Cafe                1
Microbrewery, Lounge             1
Quick Bites, Meat Shop           1
Club, Casual Dining              1
Bar, Quick Bites                 1
Food Truck                       1
Beverage Shop, Dessert Parlor    1
Name: rest_type, dtype: int64

In [174]:
restoX[['votes', 'name']].groupby(['name']).median().sort_values("votes", ascending = False).head(5)

                       votes
name
Prost Brew Pub        7854.0
Church Street Social  7544.0
Hoot                  7330.0
Empire Restaurant     4884.0
Hammered              4811.0

In [193]:
avg = list(restoX['approx_cost(for two people)'])
try:
    for i in range(0, len(avg)):
        if avg[i] != 'nan':
            avg[i] = int(avg[i])
        else:
            avg[i] = 0
except:
    pass
restoX['approx_cost(for two people)'] = avg

In [1]:
# Import libraries here
# import numpy as np
# from sklearn import linear_model
import pandas as pd
import matplotlib
matplotlib.use('Agg')
import matplotlib.pyplot as plt
import seaborn as sns

# [Example] Read datasets
# iris_train = pd.read_csv("/data/training/RestoInfo.csv")
# print(iris_train)
# User can save any number of plots to `/code/output` directory
# Note that only the plots saved in /code/output will be visible to you
# So make sure you save each plot as shown below
# Uncomment the below 3 lines and give it a try
# axes = pd.tools.plotting.scatter_matrix(iris_train, alpha=0.2)
# plt.tight_layout()
# plt.savefig('/code/output/scatter_matrix.png')

# Write output file
# Assuming iris_pred is DataFrame in the required output format
# iris_pred.to_csv("/code/iris_prediction.csv")


#read data
resto = pd.read_csv("/data/training/RestoInfo.csv")
print(resto.head(10))

#Info of data
print(resto.info())

#Description of data
print(resto.describe())

#check the null value
print(resto.isnull().sum())

print(resto.columns)
#data cleaning
"""
Analysis 1:
Removed few columns because of not useful in prydiction
Unnamed: 0: random varibale containg no information
dish_liked : most values are NUll
reviews_list : redundant feature with rate and vote
menu_item : redundant feature with rest_type, cuisines, listed_in(type) and dish_liked
"""
print("Analysis 1:")
print("Removed few columns because of not useful in prydiction")
print("Unnamed: 0: random varibale containg no information")
print("dish_liked : most values are NUll")
print("reviews_list : redundant feature with rate and vote")
print("menu_item : redundant feature with rest_type, cuisines, listed_in(type) and dish_liked")

restoX = resto[['name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)']]

"""
Analysis 2:
Redundent feature
location: location and listed_in(city) are redundant. 
So taken listed_in(city) has super_set of location
"""
print("Analysis 2:")
print("Redundent feature")
print("location: location and listed_in(city) are redundant.")
print("So taken listed_in(city) has super_set of location")


print(restoX['listed_in(city)'].value_counts())
print(restoX['location'].value_counts())
print(restoX['listed_in(type)'].value_counts())

del restoX['location']

#data pre_processing
"""
Analysis 3:
convert rating and removed /5 which is not usefull in analysis
"""
print("Analysis 3:")
print("convert rating and removed /5 which is not usefull in analysis")

restoX['rate'] = restoX['rate'].apply(lambda x: str(x).split('/')[0])


# figure shows number of restaurtants that take online_order
sns.catplot(data = restoX, kind = 'count', x = 'online_order')
plt.title('Number of restaurants take online order')
plt.savefig('/code/output/restaurants_take_online_order.png')
#Analysis 4: 60% of orders are online in Bangalore.
print("Analysis 4:")
print("60% of orders are online in Bangalore.")


# figure shows number of restaurants in each city
lable = sns.catplot(data = restoX, kind = 'count', x = 'listed_in(city)')
plt.title('Number of restaurants in each city')
lable.set_xticklabels(rotation = 90)
plt.savefig('/code/output/restaurants_in_each_city.png')
#Analysis 5: BTM has maximum restaurants in this city with count 154
print("Analysis 5:")
print("BTM has maximum restaurants in this city with count 154.")

# figure shows number of restaurants with meal type
sns.catplot(data = restoX, kind = 'count', x = 'listed_in(type)')
plt.title('Number of restaurants according to meal type')
plt.savefig('/code/output/count_restaurants_based_on_meal_type.png')
"""
Analysis 6: 
Around 50% customer prefer to take delivery of food and
around 35% customer prefer Dine-out
"""
print("Analysis 6:")
print("Around 50% customer prefer to take delivery of food and "
"around 35% customer prefer Dine-out")

print(restoX['rate'].unique())
#Analysis 7: data contain new, -, nan which is not interpretable and replace with Average value_counts
print("Analysis 7:")
print("data contain new, -, nan which is not interpretable and "
"replace with Average value_counts")

rate = list(restoX['rate'])
try:
    for i in range(0, len(rate)):
        if rate[i] == 'nan' or rate[i] == '-' or rate[i] == 'NEW':
            rate[i] = 2.5 #assign average value
        else:
            rate[i] = float(rate[i])
except:
    pass
restoX['rate'] = rate 

# figure shows the number of restaurants for each rating
rating = sns.catplot(data = restoX, kind = 'count', x = 'rate', order = restoX['rate'].value_counts().index)
plt.title('Number of restaurants for each rating')
rating.set_xticklabels(rotation = 90)
plt.savefig('/code/output/count_restaurants_based_on_rating.png')

print(restoX['rate'].value_counts())
"""
Analysis 8:
Rating follows Normal distribution and also very few restaurants
has more than 4.5 rating.
"""
print("Analysis 8:")
print("Rating follows Normal distribution and also very few restaurants "
"has more than 4.5 rating.")

# figure shows top 5 restaurants with meal type
meal = sns.catplot(data = restoX, kind = 'count', x = 'rest_type', order = restoX['rest_type'].value_counts().head(5).index)
plt.title('Top 5 Number of restaurants for each type')
meal.set_xticklabels(rotation = 90)
plt.savefig('/code/output/top_restaurants_type_based.png')

print(restoX['rest_type'].value_counts().head(5))
#Analysis 9: Quick Bites, Casual Dining  and Cafes are three top resturent type.
print("Analysis 9:")
print("Quick Bites, Casual Dining  and Cafes are three top resturent type.")


# figure shows bottom 5 restaurants with meal type
me = sns.catplot(data = restoX, kind = 'count', x = 'rest_type', order = restoX['rest_type'].value_counts().tail(5).index)
plt.title('Bottom 5 Number of restaurants for each type')
me.set_xticklabels(rotation = 90)
plt.savefig('/code/output/bottom_restaurants_type_based.png')

print(restoX['rest_type'].value_counts().tail(5))
#Analysis 10: Confectionery, Microbrewery, Food Truck etc. are  bottom resturent type.
print("Analysis 10:")
print("Confectionery, Microbrewery, Food Truck etc. are  bottom resturent type.")


# figure shows top 5 restaurants based on votes
restoX[['votes', 'name']].groupby(['name']).median().sort_values("votes", ascending = False).head(5).plot.bar()
plt.title('Bar plot of votes vs names')
plt.savefig('/code/output/top_voted_restaurants_by_customer.png')

print(restoX[['votes', 'name']].groupby(['name']).median().sort_values("votes", ascending = False).head(5))
#Analysis 11: Top 3 voted restaurants are Prost Brew Pub, Church Street Social and Hoot.
print("Analysis 11:")
print("Top 3 voted restaurants are Prost Brew Pub, Church Street Social and Hoot.")

# removing ',' character from values in approx_cost(for two people)
restoX['approx_cost(for two people)'] = restoX['approx_cost(for two people)'].apply(lambda x: str(x).replace(',',''))
avg = list(restoX['approx_cost(for two people)'])
try:
    for i in range(0, len(avg)):
        if avg[i] != 'nan':
            avg[i] = int(avg[i])
        else:
            avg[i] = None
except:
    pass
restoX['approx_cost(for two people)'] = avg

# figure shows listed_in(city) vs approx_cost(for two people)
restoX[['approx_cost(for two people)', 'listed_in(city)']].groupby(['listed_in(city)']).median().sort_values("approx_cost(for two people)", ascending = False).plot.bar()
plt.title('Bar plot of approx_cost(for two people) vs listed_in(city)')
plt.savefig('/code/output/listed_in(city)_vs_approx_cost(for_two_people).png')

print(restoX[['approx_cost(for two people)', 'listed_in(city)']].groupby(['listed_in(city)']).median().sort_values("approx_cost(for two people)", ascending = False))
#Analysis 12: Church Street is very costly to eat while Banashankari is least costly.
print("Analysis 12: ")
print("Church Street is very costly to eat while Banashankari is least costly.")

# figure shows listed_in(city) vs rate
restoX[['rate', 'listed_in(city)']].groupby(['listed_in(city)']).median().sort_values("rate", ascending = False).plot.bar()
plt.title('Bar plot of rate vs listed_in(city)')
plt.savefig('/code/output/listed_in(city)_vs_rate.png')

print(restoX[['rate', 'listed_in(city)']].groupby(['listed_in(city)']).median().sort_values("rate", ascending = False))
"""
Analysis 13:
Higest rested cities are Brigade Road and Church Street 
while lowest rated city is Brookefield.
"""
print("Analysis 13:")
print("Higest rested cities are Brigade Road and Church Street " 
"while lowest rated city is Brookefield.")

# figure shows top 5 cuisines with maximum number of restaurants
cuis= sns.countplot(data = restoX, x = 'cuisines', order = restoX.cuisines.value_counts().iloc[: 5].index)
cuis.set_xticklabels(cuis.get_xticklabels(),rotation = 90)
plt.title('Top 5 cuisines with maximum number of restaurants')
plt.savefig('/code/output/top_5_cuisines.png')

print(restoX.cuisines.value_counts().iloc[: 5])
#Analysis 14: top cuisines are North Indian and  Chinese.

print("Analysis 14:")
print("top cuisines are North Indian and  Chinese.")

ModuleNotFoundError: No module named 'seaborn'

In [197]:
restoX = X

In [198]:
restoX

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Unique Brew Cafe Resto,No,No,2.5,0,Quick Bites,Fast Food,200,Dine-out,Old Airport Road
1,Jayanthi Sagar,No,No,3.1,21,Quick Bites,"South Indian, North Indian, Chinese",200,Dine-out,Koramangala 4th Block
2,Rock Stone Ice Cream Factory,Yes,No,4.0,131,Dessert Parlor,Ice Cream,230,Delivery,Jayanagar
3,Punjabi by Nature 2.0,No,No,4.2,3236,"Casual Dining, Microbrewery",North Indian,NaN,Delivery,Koramangala 7th Block
4,Rayalaseema Chefs,Yes,Yes,3.9,225,Casual Dining,"North Indian, Biryani, Andhra, Chinese",800,Delivery,Brookefield
...,...,...,...,...,...,...,...,...,...,...
2064,Zeeshan,Yes,No,3.8,214,Casual Dining,"North Indian, Kebab, Biryani, Rolls",700,Delivery,BTM
2065,Zaica Dine & Wine,Yes,Yes,4.0,1013,Casual Dining,North Indian,"1,200",Delivery,Indiranagar
2066,Murphy's Brewhouse - The Paul Bangalore,No,Yes,4.3,2039,"Pub, Microbrewery","Continental, North Indian, Finger Food","1,700",Pubs and bars,Old Airport Road
2067,Cee Yem,No,No,2.5,0,Quick Bites,"South Indian, Kerala, North Indian",300,Dine-out,BTM
2068,Cauvery Fast Food,No,No,3.2,4,Quick Bites,Chinese,150,Dine-out,Koramangala 4th Block